<nav>
  <%= link_to "Create New Creature", new_creature_path %>
</nav>

<h1>Creature Index page</h1>

<% @creatures.each do |creature| %>
  <ul>
    <li>
      <strong>Id:</strong> <%= creature.id %><br>
      <strong>Name:</strong> <%= creature.name %><br>
      <strong>Description:</strong> <%= creature.description %><br>
      <%= link_to "Show Creature", creature_path(creature) %>
    </li>
  </ul>
<% end %>
