<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", creatures_path %></li>
      <li><%= link_to "Create New Creature", new_creature_path %></li>
    </ul>
  </div>
</nav>

<div class="container-fluid col-md-8 col-md-offset-2">
  <h1>Show Creature Page</h1>

  <strong>Id:</strong> <%= @creature.id %><br>
  <strong>Name:</strong> <%= @creature.name %><br>
  <strong>Description:</strong> <%= @creature.description %><br>

  <%= button_to "Delete Creature", @creature, method: :delete %>
  <%= link_to "Back", creatures_path %><br>
  <%= link_to "Edit", edit_creature_path %>
</div>
